@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #E5E5E5;;
}
.fon {
  background-color: #F2F2F2;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 14px #a8a7a7;
}
.page-header {
  display: flex;
  box-sizing: border-box;
  padding-left: 59px;
  padding-right: 71px;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.navigation {
  width: 543px;
  margin-top: 2px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  margin-top: 18px;
}
.arms {
  width: 140px;
  z-index: 1;
}
.user-list {
  width: 530px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding-inline-start: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}
.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  margin-bottom: 25px;
}
.navigation-link {
  color: #000000;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 10px;
  position: relative;
  margin-right: 9px;
}
.navigation-link-current::before {
  position: absolute;
  right: 12px;
  bottom: -13px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}
.navigation-link:hover {
  color: #756257;
  text-decoration: none;
}
.navigation-link:focus {
  color: #756257;
  text-decoration: none;
  box-sizing: border-box;
  outline: 3px solid #83B3D3;
  outline-style: auto;
}
.navigation-link:active {
  color: #756257;
  text-decoration: none;
  opacity: 0.3;
}
.user-icon {
  padding: 10px;
  border-radius: 10px;
  fill: #000000;
  position: relative;
}
.user-icon:hover {
  fill: #756257;
}
.user-icon:active {
  fill: #756257;
  opacity: 0.3;
}
.user-icon:active .number-icon {
  opacity: 0.3;
  fill: #fff;
}
.user-icon:focus {
  outline: 3px solid #83B3D3;
  outline-style: auto;
}
.favourites {
  display: block;
  position: relative;
}
.favourites::before {
  content: url("../images/index/elips.svg");
  position: absolute;
  right: -2px;
  top: -3px;
  z-index: 1;
}
.favourites::after {
  content: "12";
  font-family: PT Sans;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  position: absolute;
  right: 2px;
  z-index: 2;
  top: 2px;
}
.button-booking {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight:700;
  background-color: #756257;
  text-decoration: none;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 23px;
  display: block;
  margin-bottom: 10px;
}
.button-booking:hover {
  background-color: #615048;
}
.button-booking:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}
.button-booking:active .name {
  background-color: #615048;
  opacity: 0.3;
}
.button-booking:active {
  background-color: #615048;
}
.slogan {
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.adventeges-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}
.services-item {
  display: flex;
  flex-direction: column;
  background-image: url(../images/index/eat.svg);
  background-repeat: no-repeat;
  background-position-y: 89px;
  background-position-x: center;
}
.icon {
  margin: 0 auto;
  padding-top: 89px;
}
.icon-eat {
  margin: 0 auto;
  padding-top: 92px;
}
.icon-souvenir {
  margin: 0 auto;
  padding-top: 86px;
}
.adventeges-item {
  display: flex;
  flex-direction: column;
  width: 1200px;
  text-align: center;
  color: #333333;
}
.adventeges-description-blue {
  width: 220px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 77px;
}
.services-conteiner {
  display: flex;
  margin-left: -80px;
  width: 1200px;
  justify-content: space-between;
}
.adventeges-conteiner2 {
  display: flex;
  width: 1200px;
  margin-left: -20px;
}
.services-list {
  text-align: center;
  color: #333333;
}
.adventeges-caption {
  text-align: center;
  line-height: 36px;
  margin: 0;
  margin-bottom: 77px;
}
.block-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  padding-left: 90px;
  padding-right: 90px;
  width: 400px;
  box-sizing: border-box;
}
.block-light-house {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 75px;
  background-image: url(../images/index/house.svg);
  background-repeat: no-repeat;
  background-position-y: 89px;
  background-position-x: center;
}
.block-light-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 75px;
  background-image: url(../images/index/souvenir.svg);
  background-repeat: no-repeat;
  background-position-y: 84px;
  background-position-x: center;
}
.block-cold {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: 75px;
  padding-left: 75px;
}
.adventeges-title {
  margin: 0;
  padding-top: 99px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.services-title {
  margin: 0 auto;
  padding-top: 184px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.adventeges-description {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 30px;
  padding-bottom: 111px;
}
.number {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 25px;
}
.services-description {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 88px;
}
.services-description-eat {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 88px;
  box-sizing: border-box;
}
.services-description-souvenir {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 88px;
  box-sizing: border-box;
}
.number1 {
  color: #FFFFFF;
  margin: 0;
  padding-top: 29px;
  font-size: 18px;
  line-height: 21px;
}
.booking {
  text-align: center;
  padding-bottom: 91px;
}
.booking-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight:700;
  margin: 0;
  padding-top: 91px;
  height: 50px;
}
.booking-description {
  width: 720px;
  margin: 0 auto;
  color: #333333;
  padding-top: 15px;
  padding-bottom: 58px;
}
.button-catalog {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 17px;
  margin-left: auto;
  width: 160px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.button-booking-catalog {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding-top: 13px;
  padding-bottom: 11px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #756257;
  padding-left: 100px;
  padding-right: 100px;
  width: 375px;
}
.button-booking-catalog:hover {
  background: #615048;
}
.news {
  text-align: center;
  color: #FFFFFF;
}
.news-inner {
  padding-bottom: 138px;
  text-align: center;
  color: #000000
}
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
  height: 50px;
}
.newsletter-title-inner {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 68px;
  height: 50px;
}
.newsletter-description {
  width: 720px;
  margin: 0 auto;
  padding-top: 30px;
}
.newsletter-email {
  display: flex;
  box-sizing: border-box;
  width: 800px;
  height: 60px;
  margin: 0 auto;
  margin-top: 32px;
}
.button-social {
  display: block;
  padding: 20px;
  border-radius: 10px;
  margin-right: 4px;
  position: relative;
}
.social-icon {
  fill: #83B3D3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.button-social:hover .social-icon {
  fill: #68A2CA;
}
.button-social:active .social-icon {
  fill: #68A2CA;
  opacity: 0.3;
}
.button-social:focus .social-icon {
  fill: #68A2CA;
}
.button-social:focus {
  outline: 3px solid #83B3D3;
  outline-style: auto;
}
.field {
  width: 577px;
  border: 0;
  margin: 0;
  padding-left: 22px;
  border-radius: 10px 0 0 10px;
  font-family: PT Sans;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
}
.field:hover {
  background: #E6E6E6;
}
.field:focus {
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}
.field:invalid {
  background: #FFFFFF;
  outline: 2px solid #FF5757;
}
.field:active {
  background: #FFFFFF;
}
.field-inner {
  width: 581px;
  border: 0;
  margin: 0;
  padding-left: 22px;
  border-radius: 10px 0 0 10px;
  background-color: #F2F2F2;
  font-family: PT Sans;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
}
.field-inner:hover {
  background: #E6E6E6;
}
.field-inner:focus {
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}
.field-inner:invalid {
  background: #FFFFFF;
  outline: 2px solid #FF5757;
}
.field-inner:active {
  background: #FFFFFF;
}
.newsletter-button {
  font-family: PT Sans;
  font-size: 20px;
  width: 200px;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  border: 0;
  margin: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.newsletter-button:hover {
  background-color: #68A2CA;
}
.newsletter-button:focus {
  outline: 3px solid #756257;
  background-color: #68A2CA;
}
.newsletter-button:active .name {
  background-color: #68A2CA;
  opacity: 0.3;
}
.newsletter-button:active {
  background-color: #68A2CA;
}
.page-footer-container {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding-left: 61px;
  padding-right: 51px;
  padding-top: 25px;
  padding-bottom: 30px;
  align-items: center;
}
.footer-social{
  width: 150px;
  margin-right: auto;
  display: flex;
}
.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: 0;
  align-items: baseline;
}
.footer-phone {
  text-align: center;
  width: 720px;
}
.htmlacademy-link {
  margin-left: auto;
  padding: 35px 80px;
  position: relative;
  border-radius: 10px;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 9px 24px;
  border-radius: 10px;
}
.footer-contacts-phone:hover {
  color: #756257;
}
.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}
.footer-contacts-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-style: auto;
}
.htmlacademy-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.htmlacademy-link:hover .htmlacademy-icon {
  fill: #756257;
}
.htmlacademy-link:active .htmlacademy-icon {
  fill: #756257;
  opacity: 0.3;
}
.htmlacademy-link:focus .htmlacademy-icon {
  fill: #756257;
}
.htmlacademy-link:focus {
  outline: 3px solid #83B3D3;
  outline-style: auto;
}
.catalog-container {
  display: grid;
  padding-top: 45px;
  grid-template-columns: 217px 312px 368px auto;
}
.page-container-inner {
  width: 1056px;
  margin: 0 auto;
}
.product-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  list-style-type: none;
  padding-inline-start: 0;
}
.product-card {
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px 361px 160px;
  grid-template-rows: 31px min-content min-content 31px 37px 29px;
  position: relative;
}
.product-card::before {
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  background-color: #E6E6E6;
  position: absolute;
}
.product-card:last-child::after {
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  top: 182px;
  background-color: #E6E6E6;
  position: absolute;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  height: 68px;
}
.breadcrumbs {
  margin: 0;
  padding-left: 0;
  padding-top: 1px;
  display: flex;
  list-style-type: none;
  margin-left: -5px;
  align-items: flex-end;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 4px;
  display: block;
}
.home {
  display: block;
  padding: 6px;
  position: relative;
  border-radius: 4px;
}
.home::before {
  content: url("../images/index/arrow.svg");
  position: absolute;
  right: -8px;
  top: 2px;
}
.breadcrumbs-item {
  margin-right: 13px;
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}
.breadcrumbs-link:active {
  opacity: 0.3;
}
.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
}
.breadсrumbs-icon {
  fill: #FFFFFF;
  display: block;
}
.breadсrumbs-icon:hover {
  fill: #FFFFFF;
  opacity: 0.6;
}
.breadсrumbs-icon:active {
  fill: #FFFFFF;
  opacity: 0.3;
}
.breadсrumbs-icon:focus {
  fill: #FFFFFF;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  padding-inline-start: 0;
}
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  padding-right: 50px;
}
.catalog-filter-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  padding-top: 27px;
}
.control-label {
  font-size: 18px;
  line-height: 23px;
}
.button-catalog-apply {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
  border-radius: 4px;
  border: 0;
  height: 48px;
  cursor: pointer;
  margin-bottom: 7px;
}
.button-catalog-apply:hover {
  background-color: #68A2CA;
}
.button-catalog-apply:focus {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}
.button-catalog-apply:active .name {
  background-color: #68A2CA;
  opacity: 0.3;
}
.button-catalog-apply:active {
  background-color: #68A2CA;
}
.button-catalog-discard {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: #11ffee00;
  border-radius: 4px;
  border: 0;
  height: 48px;
  cursor: pointer;
}
.button-catalog-discard:hover {
  opacity: 0.6;
}
.button-catalog-discard:active {
  opacity: 0.3;
}
.button-catalog-discard:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 36px;
}
.sorting-description {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  font-weight:700;
  margin: 0;
  margin-right: 118px;
}
.sorting-button {
  display: flex;
}
.button-sorting:hover {
  border: 2px solid #83B3D3;
}
.button-sorting:focus {
  border: 2px solid #83B3D3;
}
.button-sorting:active {
  border: 2px solid #000000;
}
.button-sorting {
  width: 46px;
  height: 46px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: 5px;
}
.control {
  position: relative;
  padding-left: 39px;
}
.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
  left: 0;
  top: 5px;
}
.control:hover .control-mark {
  opacity: 0.6;
}
.control:focus .control-mark {
  opacity: 0.6;
  outline: 3px solid #83B3D3;
}
.control:focus {
  outline: none;
}
.control:active .control-mark {
  opacity: 0.3;
}
.control-input[type="radio"] + .control-mark {
  border-radius: 10px;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 12px;
  bottom: 10px;
  left: 6px;
  background-color: #3F5E72;
  transform: rotate(-45deg);
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 7px;
  bottom: 8px;
  left: 3px;
  background-color: #3F5E72;
  transform: rotate(45deg);
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  bottom: 5px;
  left: 5px;
  border-radius: 50px;
  background-color: #3F5E72;
}
.range-basic {
  position: relative;
}
.range-scale {
  position: absolute;
  width: 287px;
  height: 4px;
  background-color: #FFFFFF;
  opacity: 0.3;
  top: 28px;
}
.range-bar {
  position: absolute;
  width: 227px;
  background-color: #FFFFFF;
  height: 4px;
  top: 28px;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  border: none;
  top: -8px;
}
.range-toggle:focus {
  outline: 3px solid #83B3D3;
}
.range-toggle:active {
  outline: 2px solid #83B3D3;
}
.toggle-min {
  left: 0px;
}
.toggle-max {
right: -10px;
}
.range-wrapper-inputs {
  display: flex;
  width: 287px;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 34px;
}
.catalog-filter-label {
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding-right: 14px;
  cursor: pointer;
  border-right: 2px solid #FFFFFF;
}
.catalog-filter-label:last-child {
  border-right: none;
}
.catalog-filter-label:hover {
  opacity: 0.6;
}
.catalog-filter-label:active {
  background: #756257;
}
.catalog-filter-item {
  margin-bottom: 10px;
}
.catalog-filter-input {
  width: 91px;
  margin-left: 14px;
  margin-top: 12px;
  margin-bottom: 8px;
  font: inherit;
  background: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.catalog-filter-input::-webkit-inner-spin-button,
.catalog-filter-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.catalog-filter-input:focus {
  outline: none;
}
.name-input {
  opacity: 0.3;
}
.select {
  width: 287px;
  display: flex;
  position: relative;
  margin-right: auto;
  align-items: center;
}
.select-sorting {
  width: 100%;
  padding-top: 12px;
  padding-left: 17px;
  padding-bottom: 13px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../images/index/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 21px;
  appearance: none;
  -webkit-appearance: none;
}
.title {
  background-image: url("../images/index/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.slideshow {
  background-image: url("../images/index/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.list {
  background-image: url("../images/index/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sorting-button .button-list{
  border: 2px solid #000000;
}
.cheap {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.product-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight:700;
  color: #000000;
  text-decoration: none;
  grid-column: 1/2;
  grid-row: 2/6;
}
.product-card-link:hover {
  opacity: 0.6;
}
.product-card-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -2px;
}
.product-card-link:active {
  opacity: 0.3;
}
.product-img {
display: block;
}
.product-card-title {
  margin: 0;
  grid-column: 3/6;
  grid-row: 2/3;
  font-size: 24px;
  line-height: 31px;
}
.product-card-type {
  margin: 0;
  grid-column: 3/4;
  grid-row: 3/4;
}
.product-card-price {
  margin: 0;
  grid-column: 5/6;
  grid-row: 3/4;
}
.product-card-rating-amara {
  margin: auto;
  grid-column: 7/-1;
  grid-row: 2/3;
  background-image: url("../images/index/star.svg");
  background-repeat: space;
  width: 89px;
  height: 17px;
}
.product-card-rating-quail {
  margin: auto;
  grid-column: 7/-1;
  grid-row: 2/3;
  background-image: url("../images/index/star.svg");
  background-repeat: space;
  width: 68px;
  height: 17px;
}
.product-card-rating-diablo {
  margin: auto;
  grid-column: 7/-1;
  grid-row: 2/3;
  background-image: url("../images/index/star.svg");
  background-repeat: space;
  width: 43px;
  height: 17px;
}
.product-card-rating-greentree {
  margin: auto;
  grid-column: 7/-1;
  grid-row: 2/3;
  background-image: url("../images/index/star.svg");
  background-repeat: space;
  width: 43px;
  height: 17px;
}
.product-rating {
  margin: 0;
  grid-column: 7/-1;
  grid-row: 5/6;
}
.product-card-type,
.product-card-price{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.product-card-button-details {
  font-size: 16px;
  line-height: 21px;
  font-weight:700;
  text-align: center;
  padding-top: 9px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  grid-column: 3/4;
  grid-row: 5/6;
}
.product-card-button-details:hover {
  background: #615048;
}
.product-card-button-details:active .name {
  background: #615048;
  opacity: 0.3;
}
.product-card-button-details:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}
.product-card-button-favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight:700;
  text-align: center;
  padding-top: 9px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  grid-column: 5/6;
  grid-row: 5/6;
}
.product-card-button-favorites:hover {
  background: #68A2CA;
}
.product-card-button-favorites:active .name {
  background: #68A2CA;
  opacity: 0.3;
}
.product-card-button-favorites:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}
.product-card-button-chosen {
  font-size: 16px;
  line-height: 21px;
  font-weight:700;
  text-align: center;
  padding-top: 9px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  grid-column: 5/6;
  grid-row: 5/6;
}
.product-card-button-chosen:hover {
  background: #6C9E42;
}
.product-card-button-chosen:active .name {
  background: #6C9E42;
  opacity: 0.3;
}
.product-card-button-chosen:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}
.product-rating {
  width: 160px;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 9px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
.pagination-show-more {
  font-family: PT Sans;
  display: block;
  width: 625px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  font-weight:700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 39px;
  padding-top: 17px;
  padding-bottom: 13px;
  border-radius: 4px;
  border: 0;
}
.pagination-show-more:hover {
  background-color: #68A2CA;
}
.pagination-show-more:active .name {
  background-color: #68A2CA;
  opacity: 0.3;
}
.pagination-show-more:active {
  background-color: #68A2CA;
}
.pagination-show-more:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}
.pagination-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}
.pagination-container::after {
  content: "";
  height: 1px;
  right: 0;
  left: 0;
  top: -7px;
  position: absolute;
  background-color: #E6E6E6;
}
.pagination {
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
}
.pagination-item {
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  margin-left: 7px;
  border-radius: 4px;
}
.pagination-item-current {
  width: 55px;
  height: 55px;
  text-align: center;
  background-color: #E5E5E5;
  border-radius: 4px;
}
.pagination-link-button {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight:700;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 16px;
  padding-left: 19px;
}
.pagination-item:hover {
  background: #68A2CA;
}
.pagination-item:active .name {
  background: #68A2CA;
  opacity: 0.3;
}
.pagination-item:active {
  background: #68A2CA;
}
.pagination-item:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}
.pagination-current {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight:700;
  color: #000000;
  text-decoration: none;
  display: block;
  padding-top: 16px;
}
.sorting-number {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.select-sorting {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 287px;
}
.select-sorting:hover {
  border: 2px solid #83B3D3;
}
.select-sorting:focus {
  border: 2px solid #83B3D3;
  outline: none;
}
.select-sorting:active {
  opacity: 0.3;
}
.select-number {
  position: relative;
  display: flex;
  width: 386px;
  align-items: center;
  outline: none;
}
.select-control {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 17px;
  background-image: url("../images/index/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  appearance: none;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 160px;
  margin-left: 51px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  -webkit-appearance: none;
}
.select-control:hover {
  border: 2px solid #83B3D3;
}
.select-control:focus {
  border: 2px solid #83B3D3;
  outline: none;
}
.select-control:active {
  opacity: 0.3;
}
.background-logo {
  color: #FFFFFF;;
  background-color:#000000;
  background-image: url("../images/index/air-background.jpg");
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  margin-bottom: 63px;
  margin-top: -10px;
  position: relative;
}
.background-logo::before {
  content: url("../images/index/vector.svg");
  position: absolute;
  bottom: -6px;
}
.news {
  background-image: url("../images/index/background-footer.jpg");
  background-color: #000000;
  color: #FFFFFF;;
  width: 1200px;
  height: 411px;
}
.background {
  background-image: url("../images/index/catalog-background.jpg");
  background-color: #000000;
  color: #FFFFFF;;
  background-size: 100% 100%;
  width: 1056px;
  padding-left: 72px;
  padding-right: 72px;
  color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 54px;
  margin-top: -10px;
}
.product-img {
  grid-column: 1/2;
  grid-row: 2/6;
}
.product-card-link-amara:focus {
  border: 3px solid #83B3D3;
  outline: none;
}
.product-card-link-amara:hover {
opacity: 0.6;
}
.product-card-link-amara:active {
  opacity: 0.3;
}
.product-card-link-quail {
  background-image: url("../images/hotel/desert.jpg");
  background-size: 100% 100%;
  grid-column: 1/2;
  grid-row: 2/6;
}
.product-card-link-quail:focus {
  border: 3px solid #83B3D3;
  outline: none;
}
.product-card-link-quail:hover {
opacity: 0.6;
}
.product-card-link-quail:active {
  opacity: 0.3;
}
.product-card-link-diablo {
  background-image: url("../images/hotel/villas.jpg");
  background-size: 100% 100%;
  grid-column: 1/2;
  grid-row: 2/6;
}
.product-card-link-diablo:focus {
  border: 3px solid #83B3D3;
  outline: none;
}
.product-card-link-diablo:hover {
opacity: 0.6;
}
.product-card-link-diablo:active {
  opacity: 0.3;
}
.product-card-link-greentree {
  background-image: url("../images/hotel/greentree.jpg");
  background-size: 100% 100%;
  grid-column: 1/2;
  grid-row: 2/6;
}
.product-card-link-greentree:focus {
  border: 3px solid #83B3D3;
  outline: none;
}
.product-card-link-greentree:hover {
opacity: 0.6;
}
.product-card-link-greentree:active {
  opacity: 0.3;
}
.popover {
  width: 400px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #000000;
  position: absolute;
  box-sizing: border-box;
  top: 45px;
  right: -182px;
  min-height: 60px;
  z-index: 1;
  display: none;
}
.popover::before {
  content: url("../images/index/triangle-white.svg");
  position: absolute;
  top: -18px;
  right: 192px;
}
.user-item {
  position: relative;
}
.popover-content {
  height: 100%;
  padding: 14px;
  padding-bottom: 8px;
  border: 1px solid #E6E6E6;
  border-radius: 20px 20px 0 0;
}
.popover-content-item {
  list-style-type: none;
  display: flex;
  margin-bottom: 6px;
}
.popover-content-list {
  padding: 0;
  margin: 0;
}
.product-card-basket {
  text-decoration: none;
  color: #000000;
}
.product-card-title-basket {
  font-size: 18px;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  display: block;
  align-self: flex-start;
}
.product-card-type-basket {
  font-size: 16px;
  margin: 0;
  color: #333333;
  grid-row: 2/3;
  grid-column: 2/3;
  display: block;
  align-self: flex-end;
}
.basket {
  border: none;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}
.basket-img {
  padding: 10px;
  fill: #000000;
  opacity: 0.3;
  cursor: pointer;
}
.button-favourites {
  width: 400px;
  height: 60px;
  text-decoration: none;
  background-color: #756257;
  color: #FFFFFF;
  text-align: center;
  display: block;
  text-transform: uppercase;
  border-radius: 0 0 20px 20px;
}
.button-favourites:hover {
  background-color: #615048;
}
.button-favourites:focus {
  outline: 3px solid #83B3D3;
  background-color: #615048;
}
.button-favourites:active {
  background-color: #615048;
}
.button-favourites:active .name-favourites {
  opacity: 0.3;
}
.name-favourites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  display: block;
  padding-top: 20px;
}
.basket-img:hover {
  fill: #000000;
  opacity: 1;
}
.basket-img:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  fill: #000000;
  opacity: 1;
}
.basket-img:active {
  fill: #000000;
  opacity: 0.1;
}
.product-card-small {
  display: grid;
  grid-template-columns: 48px 240px;
  column-gap: 17px;
  grid-template-rows: 24px 24px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin-right: 9px;
}
.product-card-small:hover {
  opacity: 0.6;
}
.product-card-small:focus {
  outline: 3px solid #83B3D3;
}
.product-card-small:active {
  opacity: 0.3;
}
.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}
.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  border-radius: 30px;
  background: #FFFFFF;
}
.modal-title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  display: block;
  height: 67px;
}
.label-seach {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  width: 155px;
  display: block;
}
.seach-button {
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.seach-button:hover {
  background: #68A2CA;
}
.seach-button:focus {
  outline: 3px solid #756257;
  background: #68A2CA;
}
.seach-button:active {
  background: #68A2CA;
}
.seach-button:active .name-seach-modal {
  opacity: 0.3;
}
.name-seach-modal {
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.seach-form-field {
  background-color: #F2F2F2;
  border-radius: 4px;
  height: 50px;
  width: 402px;
  font-family: PT Sans;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  border: none;
}
.seach-form-field:hover {
  background-color: #E6E6E6;
}
.seach-form-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.seach-form-field:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000
}
.field-group {
  display: flex;
  margin: 0;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}
.adults {
  width: 133px;
  text-align: center;
  padding: 0;
  position: relative;
}
.children {
  width: 133px;
  text-align: center;
  padding: 0;
  position: relative;
}
.people {
  display: flex;
}
.label-children {
  text-align: center;
  position: relative;
}
.modal-close-button {
  border: none;
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 50%;
  position: absolute;
  top: 54px;
  right: 70px;
  cursor: pointer;
}
.close {
  fill: #000000;
}
.modal-close-button:hover {
  background-color: #E6E6E6;
}
.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}
.modal-close-button:active {
  background-color: #E6E6E6;
}
.modal-close-button:active .close {
  opacity: 0.3;
}
.calendar {
  fill: #000000;
  opacity: 0.3;
  position: absolute;
  right: 17px;
  top: 18px;
}
.info {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 110px;
  top: 16px;
}
.info-name {
  color: #FFFFFF;
}
.info:active {
  background-color: #68A2CA;
}
.popover-info {
  width: 216px;
  color: #FFFFFF;
  background-color: #333333;
  padding-right: 18px;
  padding-left: 22px;
  padding-top: 19px;
  padding-bottom: 25px;
  position: absolute;
  border-radius: 10px;
  top: 55px;
  right: 36px;
}
.content-info {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: PT Sans;
  font-weight: 400;
  display: block;
}
.popover-info::before {
  content: url("../images/index/triangle-bleck.svg");
  position: absolute;
  top: -20px;
  right: 120px;
}
.false::before {
  content: "Мы не можем отправить вас в прошлое.";
  color: #FF5757;
  position: absolute;
  top: 44px;
  left: 156px;
  font-family: PT Sans;
  font-weight: 400;
  font-size: 16px;
}
.true::before {
  content: "На эти даты есть свободные номера. Пока есть.";
  color: #333333;
  position: absolute;
  top: 44px;
  left: 156px;
  font-family: PT Sans;
  font-weight: 400;
  font-size: 16px;
}
.plus {
  fill: #000000;
  position: absolute;
  right: 19px;
  opacity: 0.3;
  cursor: pointer;
}
.minus {
  fill: #000000f6;
  position: absolute;
  right: 101px;
  cursor: pointer;
}
.plus:hover {
  opacity: 1;
}
.minus:hover {
  opacity: 1;
}
.plus:focus:focus {
  outline: 3px solid #83B3D3;
  opacity: 1;
}
.minus:focus {
  outline: 3px solid #83B3D3;
  opacity: 1;
}
.plus:active {
  opacity: 0.2;
}
.minus:active {
  opacity: 0.2;
}
