@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color:#F2F2F2;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
.page-header{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
.navigation{
  width: 400px;
  margin-right: auto;
  margin-left: 71px;
}
.arms{
  width: 138px;
}
.user{
  width: 400px;
  margin-left: auto;
  margin-right: 72px;
}
.main-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
.logo{
  display: block;
  margin: 0 auto;
}
.navigation{
  font-weight: 700;
  font-size: 20px;
}
.navigation-link{
  color: #000000;
  text-decoration: none;
}
.button-booking{
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight:700;
  background-color: #756257;
  text-decoration: none;
}
.slogan{
  width: 720px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.adventeges-item{
  display: flex;
  margin-left: -40px;
  width: 1200px;
  text-align: center;
  color: #333333;
}
.block-blue{
  width: 400px;
}
.adventeges-description1{
  width: 220px;
  height: 73px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.services-conteiner{
  display: flex;
  margin-left: -80px;
  width: 1200px;
  justify-content: space-between;
}
.adventeges-conteiner2{
  display: flex;
  width: 1200px;
  margin-left: -20px;
}

.services-list{
  text-align: center;
  color: #333333;
}
.adventeges-caption{
  text-align: center;
  line-height: 36px;
}
.block-blue{
  color: #FFFFFF;
  background-color: #83B3D3;
}
.block-light{
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0 auto;
}
.block-cold{
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  margin: 0 auto;
}
.adventeges-title,
.services-title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.number,
.adventeges-description,
.services-description{
  width: 250px;
  height: 73px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.number1{
  color: #FFFFFF;
}
.booking{
  text-align: center;
}
.booking-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight:700;
}
.booking-description{
  width: 720px;
  margin: 0 auto;
  color: #333333;
}
.button-catalog{
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #756257;
  text-decoration: none;
}
.news{
  text-align: center;
  color: #FFFFFF;
}
.news-inner{
  text-align: center;
  color: #000000
}
.newsletter-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter-description{
  width: 720px;
  margin: 0 auto;
}
.newsletter-button{
  font-size: 20px;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
}
.page-footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  justify-content: space-between;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
.footer-social{
  width: 150px;
  margin-left: 71px;
  margin-right: auto;
}
.footer-phone{
  text-align: center;
  width: 720px;
}
.htmlacademy-link{
  width: 150px;
  margin-left: auto;
  margin-right: 71px;
}
.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.catalog-filter{
  width: 1056px;
  margin: 0 auto;
  color: #FFFFFF;
}
.catalog-container{
  display: flex;
}
.page-container-inner{
  width: 1056px;
  margin: 0 auto;
}
.product-list{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs-link{
  font-size: 16px;
  line-height: 21px;
}
.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
}
.control-label{
  font-size: 18px;
  line-height: 23px;
}
.button-catalog1{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
}
.button-catalog2{
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: #11ffee00;
}
.sorting-description{
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  font-weight:700;
}
.cheap{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.product-card-link{
  font-size: 24px;
  line-height: 31px;
  font-weight:700;
  color: #000000;
  text-decoration: none;
}
.product-card-type,
.product-card-price{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.product-card-button1{
  font-size: 16px;
  line-height: 21px;
  font-weight:700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
}
.product-card-button2{
  font-size: 16px;
  line-height: 21px;
  font-weight:700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}
.product-card-button3{
  font-size: 16px;
  line-height: 21px;
  font-weight:700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
}
.pagination-show-more{
  display: block;
  width: 625px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  font-weight:700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}
.pagination-link-button{
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight:700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}
.pagination-current{
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight:700;
  color: #000000;
  background-color: #E5E5E5;
  text-decoration: none;
}
.sorting-number{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.select-control{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.background-logo {
  color: #FFFFFF;;
  background-color:#000000;
  background-image: url("../images/index/air-background.jpg");
  width: 1200px;
  height: 485px;
  margin: 0 auto;
}
.news {
  background-image: url("../images/index/background-footer.jpg");
  background-color: #000000;
  color: #FFFFFF;;
  width: 1200px;
  height: 411px;
}
.background {
  background-image: url("../images/index/catalog-background.jpg");
  background-color: #000000;
  color: #FFFFFF;;
  background-size: 100% 100%;
}
